/* Title */ 

.content-header {text-align: center;}

ul.dotsbetween li { list-style: none; display: inline-block; }
ul.dotsbetween li:after { content: " \00b7"; background: no-repeat;}
ul.dotsbetween li:last-child:after { content: none; }


@media screen and (min-width: 768px) {

    .intro-wrapper {
        display: inline-block;
        display: -webkit-flex;
        display: flex;
        align-items: center;
    }

    .intro-wrapper > p {
        font-size: 18px;
        margin-top: auto;
        margin-bottom: auto;
    }
}

/* Main image */
img.main {
    float: left;
    margin-left: 10%;
    width: auto;
    height: 100%;
    max-height: 20vw;
    padding-right: 25px;
}




@media screen and (max-width: 768px) {
    img.main {
    width: 100%;
    height: auto;
    max-width: 75vw;
    max-height: 100vw;
    padding-bottom: 25px;
    }
}

.thumbnail {
    width: auto;
    height: 13.3333vw;
}

@media screen and (max-width: 991px) {
    .thumbnail {
        width: 70%;
        height: auto;
    }
}

.proj-container {
    text-align: center;
    padding-bottom: 30px;
    background-color:#FAFAFA;
}

.proj-container:hover {
    background-color:#F0F0F0;
}