#demo-img {
    float: right;
    margin: 10px;
    width: 100%;
}

@media screen and (min-width: 992px) {
    #demo-img {
        width: 50%
    }
}

#gallery .thumbnail-container {
    height: 30vh;
}

#gallery .thumbnail{
    height: 100%;
    width: auto;
    padding-bottom: 15px;
    cursor: pointer;
    object-fit: cover;
}

.carousel-item img {
    width: auto;
    object-fit: contain;
    max-height: 75vh;
}

.carousel-control-prev,
.carousel-control-next {
    align-self: flex-end;
}

.caption {
    padding-top: 5px;
    text-align: center;
}

blockquote {
    font: 14px/22px normal helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 1px;
    border-left: 3px solid #ccc;
    background-color: #F0F0F0;
  }
